{{#d-modal-body title="canned_replies.add.modal_title" class="canned-replies-modal"}}
  {{canned-replies-form title=newTitle content=newContent}}
{{/d-modal-body}}

<div class="modal-footer canned-replies-footer">
  {{d-button class="btn btn-primary new-reply-save-btn"
      action=(action "save")
      label="save"
      disabled=disableSaveButton}}

  <a {{action "cancel"}}>{{i18n 'cancel'}}</a>
</div>
