<DModalBody
  @title="canned_replies.add.modal_title"
  @class="canned-replies-modal"
>
  <CannedRepliesForm @title={{newTitle}} @content={{newContent}} />
</DModalBody>

<div class="modal-footer canned-replies-footer">
  <DButton
    class="btn-primary new-reply-save-btn"
    @action={{action "save"}}
    @label="save"
    @disabled={{disableSaveButton}}
  />
</div>