<form>
  <div class="canned-replies-title-input-wrapper">
    <label><strong>{{i18n "canned_replies.title.name"}}</strong></label>
    {{input class="canned-replies-form-title-input" value=title}}
  </div>

  <div class="canned-replies-form-content-wrapper">
    <label><strong>{{i18n "canned_replies.content.name"}}</strong></label>
    {{d-editor class="canned-replies-form-content-input" value=content}}
  </div>
</form>
