.canned-replies-modal {
  .canned-replies-sort-usage, .canned-replies-sort-alpha {
    display: inline-block;

    .btn {
      float: none;
    }
  }

  .content {
    margin-top: 10px;
  }
}

.mobile-view .canned-replies-modal .d-editor-preview-wrapper {
  display: none;
}

.canned-replies-footer {
  margin-top: 3px;
}

.canned-reply-title:hover {
  background-color: #eee;
  cursor: pointer;
}

#reply-control {
  .canned-replies {
    position: absolute;    
    height: 100%;
    width: 50%;
  }
  &.edit-title {
    .canned-replies {
      height: calc(100% + 74px);
    }
  }
}

