.wmd-template-manager-button:before {
  content: "\f080"
}

.template-manager-modal {
  .content {
    padding: 20px 0 0 10px;

    label {
      font-size: 1em;
    }

    p {
      max-height: 300px;
      min-height: 75px;
      overflow-y: auto;
      padding: 0 .5em;
      clear: both;
    }
  }

  .reply-selector{
    label {
      display: inline-block;
      padding: 5px 0 0 10px;
      font-size: 1em;
    }

    .selector {
      float: right;
      width: 75%;

      select {
        width: 90%;
        margin: 0 0 5px 0;
      }
    }

  }
}
