.canned-replies-modal {
  width: 80vw !important; // needed due to core specificity
  max-width: 1080px;
  max-height: 80vh !important; // overrides important in core
  .canned-replies-sort-usage,
  .canned-replies-sort-alpha {
    display: inline-block;

    .btn {
      float: none;
    }
  }

  .content {
    margin-top: 10px;
  }
}

.mobile-view .canned-replies-modal .d-editor-preview-wrapper {
  display: none;
}

.canned-replies-footer {
  margin-top: 3px;
}

.canned-reply-title:hover {
  background-color: $highlight-medium;
  cursor: pointer;
}

#reply-control {
  .canned-replies {
    height: 100%;
    width: 100%;
  }

  .canned-reply {
    padding-bottom: 1em;
  }
}
