.wmd-poll-ui-button:before {
  content: "\f080"
}

.poll-ui-modal {
  table {
    width: 100%;

    td {
      padding: 0 .5em;
    }

    td:nth-child(even) {
      text-align: right;
    }

    td .select2-choice {
      text-align: initial;
    }

    .numeric-field input {
      width: 3em;
    }
  }

  .tip.good {
    display: none;
  }

  .content {
    max-height: 100px;
    min-height: 50px;
    overflow-y: auto;
    padding: 0 .5em;
    clear: both;

    .choices {
      .d-editor {
        border-width: 0;

        .d-editor-container {
          padding: 0;

          .d-editor-button-bar {
            display: none;
          }

          .d-editor-preview {
            display: none;
          }
        }
      }
    }

    .no-answers {
      textarea {
        height: 150px;
      }
    }

    .answer {
      .d-editor-container {
        padding: 0 10px 0 10px;
      }

      .d-editor-preview {
        display: none;
      }
    }
  }
}

.wmd-template-manager-button:before {
  content: "\f080"
}

.template-manager-modal {
  table {
    width: 100%;

    td {
      padding: 0 .5em;
    }

    td:nth-child(even) {
      text-align: right;
    }

    td .select2-choice {
      text-align: initial;
    }

    .numeric-field input {
      width: 3em;
    }
  }

  .tip.good {
    display: none;
  }

  .content {
    max-height: 300px;
    min-height: 200px;
    overflow-y: auto;
    padding: 0 .5em;
    clear: both;

    .choices {
      .d-editor {
        border-width: 0;

        .d-editor-container {
          padding: 0;

          .d-editor-button-bar {
            display: none;
          }

          .d-editor-preview {
            display: none;
          }
        }
      }
    }

    .no-answers {
      textarea {
        height: 150px;
      }
    }

    .answer {
      .d-editor-container {
        padding: 0 10px 0 10px;
      }

      .d-editor-preview {
        display: none;
      }
    }
  }
}
