{{#if cannedVisible}}
  <div class="d-editor-preview">
    {{#conditional-loading-spinner condition=loadingReplies}}
      <div class="canned-replies-edit-bar">
        {{canned-tag-drop
          availableTags=availableTags
          tagId=selectedTag
          onChange=(action "changeSelectedTag")
        }}
        {{text-field class="canned-replies-filter" value=listFilter placeholder=(i18n "canned_replies.filter_hint")}}

        {{d-button class="modal-close close btn-flat"
                   action=(action "hide")
                   icon="times"}}
      </div>
      {{canned-replies-list replies=replies selectedTag=selectedTag listFilter=listFilter}}
    {{/conditional-loading-spinner}}
  </div>
{{/if}}
